#work {
  background: linear-gradient(0deg, #A8DADC, #F1FAEE);
  min-height: 100vh;

  .container {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    padding: 100px 100px 60px;
    .flex-row {
      align-items: flex-start;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 20px 0 40px;
      width: 100%;
    }

    .site-header {
      color: #1D3557;
      font-size: 44px;
      font-family: Montserrat-Bold, Arial, sans-serif;
      line-height: 60px;
      max-width: 740px;
      text-align: left;
      width: 100%;

      .highlight {
        display: inline-block;
        color: #F14D59;
      }
    }

    .button-container {
      width: 150px;
      margin-top: auto;
      .button {
        align-items: center;
        background: #1D3557;
        border-radius: 3px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        color: #FFFFFF;
        cursor: pointer;
        display: flex;
        font-family: Montserrat-Regular, sans-serif;
        font-size: 14px;
        height: 44px;
        justify-content: center;
        width: 150px;
        transition: all 0.3s ease;
        &:hover {
          box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
          background: #F14D59;
        }
        svg {
          padding-right: 8px;
          top: 1px;
          position: relative;
        }
      }
    }
  }


  .cases {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

  }

  .case {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: flex;
    font-size: 20px;
    color: #222222;
    font-family: Montserrat-Regular, sans-serif;
    height: 260px;
    text-align: left;
    background: #FFFFFF;
    border-radius: 3px;
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;

    h2 {
      font-size: 24px;
      padding: 40px 0 20px 40px;
      margin: 0;
    }
    h3 {
      color: #1D3557;
      font-family: "Montserrat-Bold", sans-serif;
      font-size: 20px;
      margin: 40px 0 0 40px;
    }
    h4 {
      font-size: 16px;
      font-family: "Montserrat-Light", sans-serif;
      font-weight: 300;
      padding-left: 40px;
      margin: 0;
      color: #979797;
    }
    .ob-bg {
      height: 100%;
    }
  }
}